version: "3.9"
services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: taskflow
      POSTGRES_PASSWORD: taskflow
      POSTGRES_DB: taskflow
    ports:
      - "5432:5432"
    volumes:
      - taskflow_db:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    environment:
      PORT: 4000
      DATABASE_URL: postgresql://taskflow:taskflow@db:5432/taskflow
      JWT_SECRET: change_me
      JWT_REFRESH_SECRET: change_me_too
      REDIS_URL: redis://redis:6379
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
      TWILIO_FROM_NUMBER: ${TWILIO_FROM_NUMBER}
      CLIENT_URL: http://localhost:5173
      SMS_ENABLED: "true"
    ports:
      - "4000:4000"
    depends_on:
      - db
      - redis

  worker:
    build: ./backend
    command: ["node","src/worker/reminderWorker.js"]
    environment:
      DATABASE_URL: postgresql://taskflow:taskflow@db:5432/taskflow
      REDIS_URL: redis://redis:6379
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
      TWILIO_FROM_NUMBER: ${TWILIO_FROM_NUMBER}
      SMS_ENABLED: "true"
    depends_on:
      - db
      - redis

  frontend:
    build: ./frontend
    environment:
      VITE_API_URL: http://localhost:4000/api
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  taskflow_db:
